@charset "utf-8";
body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif
  } 
  h1 {
      text-decoration: underline;
      color: blue;
  }
  
  h2 {
      color: red;
  }
  p {
      text-align:justify
  }
